# Configuration du portfolio
# Remplacez les valeurs par les vôtres

# Lien vers votre CV
VITE_CV_URL=https://exemple.com/cv.pdf

# Réseaux sociaux
VITE_LINKEDIN_URL=https://www.linkedin.com/in/herimampionona-sambizara-57575a406/
VITE_GITHUB_URL=https://github.com/sambizara
VITE_EMAIL=sambizarahenri@gmail.com
VITE_WHATSAPP=https://wa.me/261388752956
VITE_FACEBOOK=https://facebook.com/henri.varel.s
